<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here are all of our Reviewed Products!</title>
</head>
<body>
    <h1>Here are all of our Products!</h1>
    <a href="/products/new">Leave a review</a>
    <table>
        <thead >
            <tr>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(product){ %> 

                <tr>
                    <td>
                        <%= product.name %>
                    </td>  
                    <td>
                        <%= product.body %>
                    </td>
                </tr>
            <%    }) %> 
        </tbody>
    </table>
</body>
</html>