* {
    box-sizing: border-box;
  }
  body {
    height: 100vh; 
    padding: 30px;
    
     
  }
  header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: white;
    text-decoration: none;
}

main {
    color: goldenrod;
    margin-top: 100px;
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel-item{
    text-align: center;
    min-height: 280px; 
}

