* {
    box-sizing: border-box;
  }
  body {
    height: 100vh; 
    padding: 30px;
    
     
  }
  header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: white;
    text-decoration: none;
}

main {
    color: goldenrod;
    margin-top: 100px;
}
.carousel{
    background: #2f4357;
    margin-top: 60px;
}
.carousel-item{
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover; 
}
.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    padding-bottom: 50px;
}
table { 
    position: relative;
    

}
 
.productName{
    display: flex;
    align-items: baseline;
    width: 350px;
    justify-content: space-between;
}

.newForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
    
}
.submitBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newTitle{
    text-align: center;
}
.newBtn{

    width: 50%;
}
.editTitle{
    text-align: center;
}
.editForm{
   
    margin-top: 25%;
    display: flex;
    flex-direction: column;

}
.editBox{
   
   display: flex;
   flex-direction: column;
   align-items: center;
}
.editInput {
    width: 300px;
}
.editTextArea{
    width: 450px;
}
.editBtn{
 width: 200px;
}
.aboutPg{
   
    text-align: center;
}
.heroImage {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("https://storage.googleapis.com/prose-blog-media/1/2019/07/curly-hair-hacks-copy-1200x803.jpg");
    height: 400px;
    width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.heroContents {
	padding-top: 50px;
	text-align: center;
	color: white;
}

footer {

    display: flex;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
      
  }