<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %>></title>
</head>
<body>
    <header>
        <nav class="topnav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/products">Join the conversation</a></li>
        </ul>
    </nav >
    
</header>
</body>
</html>

<%- include('../partials/header') %>