<header>
<nav class="topnav">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/products">Join the conversation</a></li>
    </ul>
   </nav >

</header>