<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave a new review</title>
</head>
<body>
    <h1>Join in the Curly Convo!</h1>
    
    <form action="/products" method="POST">
        <input type="text" name="name">
        <textarea name="description" cols="30" rows="10"></textarea>
        <input type="submit" value="Start a Curl Convo ">
     </form>
</body>
</html>